/*
* This file provides all of the color variables used.
*/

$color-one: #212531;
$color-two: #23b0af;
$color-three: #3fbab9;
$color-four: #fc5356;
$color-five: #5f7080;
$color-six: #363a45;
$color-seven: #484c56;

//Basic colors
$white: #fff;
$black: #000;
$light-grey: #edf3f6;
$grey: #b7c4ca;
$dark-grey: #9CA7B1;
$darkest-grey: #5d6f80;
$mobile-text: #7e8c99;
$seach-page-color: #72757d;

