/*
* This file provides all of the color variables used.
*/

$primary-color: #000;
$secondary-color: #111;
$attention-color: #990000;

//Basic colors
$white: #fff;
$black: #000;

$light-grey: #edf3f6;
$grey: #b7c4ca;
$dark-grey: #9CA7B1;
$darkest-grey: #5d6f80;

