/*
* This component provides the mixins used.
*/

@mixin transition() {
  -webkit-transition: all, 0.3s, ease-in-out;
  -moz-transition: all, 0.3s, ease-in-out;
  -ms-transition: all, 0.3s, ease-in-out;
  -o-transition: all, 0.3s, ease-in-out;
  transition: all, 0.3s, ease-in-out;
}

@mixin front-panel($font-color, $background-color, $background-color-top) {
  background: $background-color;
  color: $font-color;
  h2 {
    background: $background-color-top;
  }
}

@mixin blue-button() {
  background: $color-two;
  border: medium none;
  color: $white;
  padding: 10px 35px;
  margin-right: 5px;
  box-shadow: 0px 2px 0 0px $darkest-blue;
  @include transition();
  &:hover {
    background: $darkest-blue;
  }
  a {
    color: $white;
  }
}

@mixin red-button() {
  background: $red;
  border: medium none;
  color: $white;
  padding: 10px 35px;
  margin-right: 5px;
  box-shadow: 0px 2px 0 0px $dark-red;
  @include transition();
  &:hover {
    background: $dark-red;
  }
  a {
    color: $white;
  }
}

// A Scary stories mixin.
@mixin stories($color) {
  .field-type-list-text {
    font-size: 0.8em;
    padding: 0.5em 0 1em;
    text-transform: capitalize;
    color: $color;
  }
  border: 1px solid $border-color;
  border-bottom: 5px solid $color;
  height: 375px;
  &.view-mode-listing_page {
    height: auto;
    border: none;
    border-bottom: 1px solid $border-color;
    h2 a, h3 a {
      color: $color;
    }
    img {
      @include respond-to(phone){
        width: 100%;
      }
    }
    .group-inside {
      padding-bottom: 20px;
      > .field-type-ds a {
        background: $color;
        border: medium none;
        color: $white;
        padding: 5px 15px;
        margin-right: 5px;
        box-shadow: 0px 3px 0 0px darken($color, 10%);
        margin-left: -4px;
        @include transition();
        &:hover {
          opacity: 0.8;
        }
        a {
          color: $white;
        }
      }
      .field-type-ds, .field-type-list-text {
        display: inline;
      }
    }
  }
}
